# Resources
/resources/.driver

# External libraries
/venv

# IDE configuration
/.idea
/.vscode
*.log

# Local configuration
config.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# DB files
*.db

# Init lock file
.init.lock